/**
 //* Typography Styles
 */
body {
  font-size: 1rem; // 1rem = 10px;
  font-family: Montserrat, "sans-serif";
}

.heading-primary {
  font-size: 5rem;
  color: $color-white;
  opacity: 0.8;
  display: inline-block;
  animation: slideFromRight 1s ease-out;
}
.heading-secondary {
  font-size: 4.5rem;
  text-align: center;
  background-image: linear-gradient(to right, $color-orange, $color-yellow);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  display: inline-block;

  &--presentation {
    animation: slideFromBottom 1s ease-out;
  }
  &--app {
    background-image: linear-gradient(to left top, $color-orange, $color-yellow);
  }
}
.heading-tertiary {
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 3rem;
  letter-spacing: 0.3rem;
}
.heading-presentation,
.heading-application {
  font-size: 1.5rem;
  font-weight: 300;
  color: $color-white;
  margin-left: 2rem;
}
.paragraph-date {
  font-size: 1rem;
  color: #c0c0c0;
}
.paragraph-presentation {
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  line-height: 3rem;
}
.paragraph-copyright {
  font-size: 1.2rem;
  font-weight: 500;
}
