// -----------------------------------------------------------------------------
//* This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

.header {
  position: relative;
  background-image: linear-gradient(to right, $color-orange, $color-yellow);
  opacity: 0.8;
  height: 70vh;
  border-bottom-right-radius: 90% 50%;
  border-bottom-left-radius: 40% 90%;

  &__container {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  &__iphone-box {
    display: flex;
    justify-content: flex-end;
    flex: 1;
    margin-right: 10rem;
  }
  &__image {
    position: absolute;
    height: 50rem;
    bottom: -5rem;
    animation: slideFromTop 1s ease-out;
  }
  &__text-box {
    flex: 1;
    display: flex;
    justify-content: flex-start;
  }
}
