// -----------------------------------------------------------------------------
//* This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

.header {
  position: relative;
  background-image: linear-gradient(to right, $color-orange, $color-yellow);
  opacity: 0.8;
  height: 70vh;
  border-bottom-right-radius: 90% 50%;
  border-bottom-left-radius: 40% 90%;

  &__container {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  &__iphone-box {
    display: flex;
    justify-content: flex-end;
    flex: 1;
    margin-right: 10rem;
  }
  &__image {
    position: absolute;
    height: 50rem;
    bottom: -5rem;
    animation: slideFromTop 1s ease-out;
  }
  &__text-box {
    flex: 1;
    display: flex;
    justify-content: flex-start;
  }
  &__presentation {
    position: absolute;
    bottom: -4rem;
    width: 23rem;
    height: 48rem;
    z-index: -1;
    border-radius: 7%;
    margin: 1rem 0 0 -1.3rem;
    background: $color-application;
    animation: 1s slideFromTop ease-out;

    &-logo-container {
      margin: 2rem;
    }
    &-logo {
      height: 2.5rem;
      width: 2.5rem;
      fill: $color-logo;
    }
  }
  .header {
    &__list {
      list-style: none;
      width: 100%;
    }
    &__item {
      color: $color-white;
      width: 100%;
      margin: 0.5rem 0;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding: 1rem;

      &:not(:last-child) {
        border-bottom: 1px solid #707070;
      }
    }
    &__checkbox {
      margin: 0.5rem 1rem;
      height: 1.5rem;
      width: 1.5rem;
      fill: $color-orange;

      &--delete {
        height: 1.3rem;
        width: 1.3rem;
        fill: $color-orange;
      }

      &--add {
        fill: $color-orange;
      }
    }
    &__todo {
      font-size: 1.2rem;
      margin-right: auto;

      &--checked {
        text-decoration: line-through;
      }
      &--add {
        font-size: 1.2rem;
        color: #a39a92;
      }
    }
  }
}
