// -----------------------------------------------------------------------------
//* This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

//* Fonts

//* Colors
$color-white: #fff;
$color-black: #000;

$color-orange: #ff4e50;
$color-yellow: #f9d423;

$color-application: #263d42;
$color-logo: #ead637;

//* Breakpoints
